#valuesContainer {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 20vw;
}

label{
    display: block;
}

#calculateButton{
    margin: 10px 10px 10px 0;
    width: 10vw;
}